.text {
  white-space: nowrap;
  width: 5em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding-top: .5em;
}

.text[title] {
  position: relative;
  border-bottom: 3px solid deeppink;
}

.text[title]:before {
  content: "↓hover here↓";
  position: absolute;
  top: -.2em;
  color: deeppink;
  font-size: .5em;
  font-weight: bold;
}
